.main-body{
    .topBar{
        z-index: 800;
        height: 15vh;
        background-color: $colorMain;
        header{
            background-color: $colorMain;
            .header-button{
                background-color: $clearMain !important;
                img{
                    color: white;
                }
                // box-shadow: black 1px 1px 2px;
            }
            .header-button:hover{
                background-color: $darkMain !important;
                color: $clearMain;
                transition: 250;
            }
            #search{
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        nav{
            height: 50%;
            background-color: $colorMain;
            h2{
                font-size: 1.4em;
                font-weight: bold;
                color: white;
            }
            p{
                font-size: 0.9em;
                color: $darkFont;
                font-weight: 600;
            }
            .day-button{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $clearMain;
                color: white;
                border: none;
                // box-shadow: black 1px 1px 2px;
                font-weight: bold;
            }
            .day-button:hover{
                background-color: $darkMain;
                transition: 250;
            }
        }
    }
    .clothe{
        height: 85vh;
        background-color: $colorClothe;
        padding-bottom: 100px;
        #message{
            background-color: $clearMain;
            color: #464646;
            border-radius: 2px;
        }
        .animeRow{
            position: relative;
            height: 100%;
            padding-bottom: 100px;
            .sexButton{
                background-color: #464646;
            }
            .sexButton:hover{
                transform: scale(1.25);
                transition: 200;
            }
            #femaleButton{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
            }
            #maleButton{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
            }
            .skinButton:hover{
                transform: scale(1.25);
                transition: 200;
            }
            #skin1{
                background-color: $colorSkin1;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: none;
            }
            #skin2{
                background-color: $colorSkin2;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: none;
            }
            #skin3{
                background-color: $colorSkin3;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: none;
            }
            #skin4{
                background-color: $colorSkin4;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: none;
            }
            .genre{
                background-color: #009688;
            }
            .invisible{
                display: none; 
            }
            .img-avatar{
                position: absolute;
                height: 100%;
                width: 100%;
            }
            .img-clothes{
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }        
    }
    .summary{
        height: 85vh;
        background-color: $colorSummary;
        padding-bottom: 100px;
        #tempCard{
            background-color: white;
            border-radius: 5px;
            h3{
                font-size: 0.8em;
            }
            img{
                height: 30px;
                width: auto;
            }
            p{
                color: #980000;
                font-size: 1.3em;
                font-weight: bold;
            }
        }
        #weatherIcon{
            height: 100%;
            img{
                width: auto;
                height: 175px;
            }
        }
        #rainCard{
            background-color: white;
            border-radius: 5px;
            h3{
                font-size: 0.8em;
            }
            img{
                height: 30px;
                width: auto;
            }
            p{
                color: #030340;
                font-size: 1.3em;
                font-weight: bold;
            }
        }
    }
    .details{
        background-color: $colorDetails;
        height: 85vh;
        padding-bottom: 100px;
        .carte{
            background-color: white;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            .data{ 
                background-color: $clearMain;
                border-radius: 3px;
                color: $darkFont;
                font-weight: 550;
                min-width: 85px;
            }
            .icon{
                height: 25px;
                width: auto;
                
            }
        }
        #div-compass{
            position: relative;
            #compass{
                transition: 0.3s ease-in-out all;
            }
            #bgCompass{
                position: absolute;
                width: 75px;
                height: 75px;

            }
        }
    }
    .hour-select{
        z-index: 800;
        background-color: $colorMain;
        h2{
            font-size: 1.4em;
            font-weight: bold;
            color: $colorMain;
            background-color: white;
            border-radius: 2px;
            width: 100px;
        }
        p{
            font-size: 0.8em;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .main-body{
        .topBar{
            nav{
                height: 65%;
                background-color: $colorMain;
                h2{
                    font-size: 1.6em;
                    font-weight: bold;
                    color: white;
                }
                p{
                    font-size: 1.2em;
                    font-weight: 600 !important;
                    color: #464646;
                }
            }
        }
        .clothe{
            #message{
                font-weight: 600;
            }
            .animeRow{
                position: relative;
                .img-avatar{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
                .img-clothes{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .summary{
            #rainCard{
                h3{
                font-size: 1em;
                }
            }
            #tempCard{
                h3{
                font-size: 1em;
                }
            }
            #weather-img{
                width: auto;
                height: 100%;
            }
        }
        .details{
            .carte{
                height: 100%;
                .data{
                    font-size: 1.1em;
                    font-weight: 600;
                    min-width: 90px;
                    // background-color: #FFD494;
                }
            }
        }
    }
}