// Installation complète de bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

//Paramètres globaux
$colorMain : #009688;
$colorClothe : #FFFFFF;
$colorSummary : #B9B9B9;
$colorDetails : #EBEBEB;
$colorSkin1 : #FFEFD6;
$colorSkin2 : #FFD699;
$colorSkin3 : #FFC266;
$colorSkin4 : #553301;

//Import des fichiers scss des pages
@import "weather";
@import "notFound";
@import "register";
