// Installation personalisée de Bootstrap

// Modules obligatoires
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Module optionels
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";

//Paramètres globaux
$colorMain : #009688;
$colorClothe : #FFFFFF;
$colorSummary : #B9B9B9;
$colorDetails : #EBEBEB;
$colorSkin1 : #FFEFD6;
$colorSkin2 : #FFD699;
$colorSkin3 : #FFC266;
$colorSkin4 : #553301;

//Import des fichiers scss des pages
@import "weather";
@import "notFound";