<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Météo</title>
</head>
<body>
    <div class="wrapper">
        <div class="login">
            <p class="title">Accès utilisateur</p>
            <input id="login" type="text" placeholder="Username" autofocus autocomplete="off"/>
            <i class="fa fa-user"></i>
            <input id="pass" name="pass" type="password" placeholder="Password" />
            <i class="fa fa-key"></i>
            <button id="connexion">
            <i class="spinner"></i>
            <span class="state">Se connecter</span>
            </button>
            <p id="error" class="text-center"></p>
        </div>
    </div>
</body>
</html>