<!DOCTYPE html>
<html lang="fr">

<head>
    {# Métadonnées de la page #}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="MeteoApp">
    <meta name="author" content="Abdelkrim Naji, Jules Pageaux, Fabien Cazalet">
    <meta name="description" content="Un projet pédagogique dans le cadre de l'AccessCodeSchool : un site meteo responsive qiu utilise l'API Dark Sky">
    <meta name="keywords" content="Meteo, API, DarkSky, ">

    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

    {# URL de base #}
    <base href="http://localhost:8080/">

    {# Feuille de style personalisée #}
    <link rel="stylesheet" href="dist/css/main.css">

    {# Titre de la page en cours #}
    <title>{% block title %}{% endblock %}</title>

    {# favicon #}
    <link rel="apple-touch-icon" sizes="57x57" href="Assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="Assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="Assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="Assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="Assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="Assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="Assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="Assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="Assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="Assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="Assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="Assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="main-body">

    <main class="container-fluid p-0 m-0">
        {# Menu latéral #}
        <nav id="sidebar">
            <div class="h-100 d-flex flex-column justify-content-between">
                <div id="sidebar-up">
                    <div class="sidebar-header d-flex justify-content-between align-items-center">
                        <h3 class="m-0">Menu</h3>
                        <button id="dismiss" class="btn btn-primary d-flex justify-content-center align-items-center">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                    <div id="sidebar-login" class="sidebar-connect py-2 d-flex flex-column align-items-center">
                        <input class="py-2 my-2 text-center" id="login_login" type="text" placeholder="Username"
                            autofocus autocomplete="off" />
                        <input class="py-2 m-2 text-center" id="pass_login" name="pass" type="password " placeholder="Password">
                        <button id="connexion_login" type="submit" class="btn btn-primary py-2 my-2">Se connecter</button>
                        <a href="register"><button id="inscription" class="btn btn-info py-2 my-2">Inscription</button></a>
                        <div id="error"></div>
                    </div>
                </div>
                <div id="sidebar-down">
                    <div class="legal d-flex flex-column justify-content-center align-items-center">
                        <p>2018 - CC BY-NC 3.0 FR</p>
                        <p>- Access Code School -</p>
                    </div>
                </div>
            </div>
        </nav>
        {# Dark overlay #}
        <div id="overlay"></div>
        {# Contenu de la page #}
        <div class="content" id="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script src="Assets/js/adress.js"></script>

    <script src="Assets/js/avatar.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script src="Assets/js/menu.js"></script>

    <script src="Assets/js/app.js"></script>

    <script src="Assets/js/authentification.js"></script>

</body>

</html>