<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="MeteoApp">
    <meta name="author" content="Abdelkrim Naji, Jules Pageaux, Fabien Cazalet">
    <meta name="description" content="Un projet pédagogique dans le cadre de l'AccessCodeSchool : un site meteo responsive qiu utilise l'API Dark Sky">
    <meta name="keywords" content="Meteo, API, DarkSky, ">

    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    {#
    <meta http-equiv="refresh" content="30"> #}

    <base href="http://localhost:8080/">

    <link rel="stylesheet" href="dist/css/main.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="main-body">
        {# <nav class="menu" id="sidebar">
                <div class="sidebar-header">
                    <h3>Bootstrap Sidebar</h3>
                </div>
    
                <ul class="list-unstyled components">
                    <p>Dummy Heading</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
            </nav> #}

    <main class="container-fluid p-0 m-0">
       
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    {# <script src="Assets/js/chart.js"></script> #}
    <script src="Assets/js/authentification.js"></script>
    <script src="Assets/js/app.js"></script>
</body>

</html>