<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="MeteoApp">
    <meta name="author" content="Abdelkrim Naji, Jules Pageaux, Fabien Cazalet">
    <meta name="description" content="Un projet pédagogique dans le cadre de l'AccessCodeSchool : un site meteo responsive qiu utilise l'API Dark Sky">
    <meta name="keywords" content="Meteo, API, DarkSky, ">

    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    {# <meta http-equiv="refresh" content="30"> #}

    <base href="http://localhost:8080/">

    <link rel="stylesheet" href="dist/css/main.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <main class="container-fluid p-0 m-0">
        <section class="menu" id="collapseMenu">

        </section>
        {% block content %}
        {% endblock %}
    </main>
   
    <script src="Assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</body>

</html>