        {# Menu latéral #}
                <div class="h-100 d-flex flex-column justify-content-between">
                    <div id="sidebar-up">
                        <div class="sidebar-header d-flex justify-content-between align-items-center">
                            <h3 class="m-0">Menu</h3>
                            <button id="dismiss" class="btn btn-primary d-flex justify-content-center align-items-center">
                                <i class="fas fa-arrow-left"></i>
                            </button>
                        </div>
                            <div id="sidebar-login" class="sidebar-connect py-2 d-flex flex-column align-items-center">
                        {% if isAuth == false %}

                                <input class="py-2 my-2 text-center" id="login_login" type="text" placeholder="Username"
                                    autofocus autocomplete="off" />
                                <input class="py-2 m-2 text-center" id="pass_login" name="pass" type="password" placeholder="Password">
                                <button id="connexion_login" type="submit" class="btn btn-primary py-2 my-2">Se connecter</button>
                                <a href="register"><button id="inscription" class="btn btn-info py-2 my-2">Inscription</button></a>
                                <div id="error"></div>

                        {% else %}
                            <p>Vous êtes connecté</p>
                            <a href="/weather/deconnexion" class="btn btn-danger">Deconnexion</a>
                        {% endif %}
                            </div>
                        </div>
                        <div id="sidebar-down">
                            <div class="legal d-flex flex-column justify-content-center align-items-center">
                                <p>2018 - CC BY-NC 3.0 FR</p>
                                <p>- Access Code School -</p>
                            </div>
                        </div>
                    </div>
            {# Dark overlay #}