<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="MeteoApp">
    <meta name="author" content="Abdelkrim Naji, Jules Pageaux, Fabien Cazalet">
    <meta name="description" content="Un projet pédagogique dans le cadre de l'AccessCodeSchool : un site meteo responsive qiu utilise l'API Dark Sky">
    <meta name="keywords" content="Meteo, API, DarkSky, ">

    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    {# <meta http-equiv="refresh" content="30"> #}

    <base href="http://localhost:8080/">

    <link rel="stylesheet" href="dist/css/main.css">

    <title>MeteoApp - Register</title>
</head>
<body class="register-body">
   <div class="register-page">
        <div class="form">
            <div class="register-form">
                <input id="mail-register" type="email" placeholder="Email"/>
                <input id="pass-register" type="password" placeholder="Mot de passe"/>
                <input id="prenom-register" type="text" placeholder="Prénom"/>
                <select name="sexe" id="sexe-register">
                    <option value="none">Sexe</option>
                    <option value="homme">Homme</option>
                    <option value="femme">Femme</option>
                </select>
                <select name="select" id="color-register">
                    <option value="#F2F2F2" style="background-color: #F2F2F2">Peau</option>
                    <option value="#FFEFD6" style="background-color: #FFEFD6"></option>
                    <option value="#FFD699" style="background-color: #FFD699"></option>
                    <option value="#FFC266" style="background-color: #FFC266"></option>
                    <option value="#553301" style="background-color: #553301"></option>
                </select>
                <input id="adresse-register" type="text" placeholder="Adresse (ex : Avenue Foch)"/>
                <input id="ville-register" type="text" placeholder="Ville"/>
                <button id="valider-register">Valider</button>
                <p class="message"></p>
            </div>
        </div>
    </div>
<script src="Assets/js/register.js"></script>
</body>
</html>