{% extends main.html.twig %}

{% block title %} MeteApp - {{location}}{% endblock %}

{% block content %}
<section class="container">
        <header class="row">
            <div class="col">
                *burger*
            </div>
            <div class="col">
                *recherche*
            </div>
            <div class="col">
                *options*
            </div>
        </header>
        <nav class="row">
            
        </nav>
        <article class="clothe">
            <div class="row">
    
            </div>
            <div class="row">
    
            </div>
        </article>
        <article class="summary">
            <div class="row">
    
            </div>
            <div class="row">
    
            </div>
        </article>
        <article class="details">
            <div class="row">
    
            </div>
            <div class="row">
    
            </div>
            <div class="row">
    
            </div>
            <div class="row">
    
            </div>
            <div class="row">
    
            </div>
            <div class="row">
    
            </div>
        </article>
    </section>
{% endblock %}