{% extends "main.html.twig" %}

{% block title %} MeteoApp - Le temps {% endblock %}

   
  


{% block content %}
{# Barre de navigation #}
<div class="topBar sticky-top">
    <header class="row p-1 m-0">
        <div class="col-2 p-0 m-0 px-lg-3 d-flex justify-content-center justify-content-lg-end">
            <button type="button" id="sidebarCollapse" class="header-button btn btn-info">
                <img src="Assets/img/icons/burger.svg" width="24px" height="24px" alt="burger icon">
            </button>
        </div>
        <div class="col-8 p-0 m-0 text-center">
            <input id="search" class="form-control m-0 text-center" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-2 p-0 m-0 px-lg-3 d-flex justify-content-center justify-content-lg-start">
            <button class="header-button btn btn-info" type="button" id="adress"><img src="Assets/img/icons/search.svg"
                    width="24px" height="24px" alt="magnifier icon">
            </button>
        </div>
    </header>

    <nav class="row p-0 m-0 d-flex align-items-center">
        <div class="col-2 p-0 m-0 px-lg-3 d-flex justify-content-center justify-content-lg-end">
            <button class="day-button" id="precedent" style="display:none">
                <</button> </div> <div class="col-8 p-0 m-0 text-center">
                    <h2 id="weather-day" class="p-0 m-0 mb-lg-2">Jour</h2>
                    <p id="weather-date" class="p-0 m-0">01 janvier 2019</p>
        </div>
        <div class="col-2 p-0 m-0 px-lg-3 d-flex justify-content-center justify-content-lg-start">
            <button class="day-button" id="suivant">></button>
        </div>
    </nav>
</div>
<section class="m-0 p-0">
    <div class="row m-0 p-0">
        {# - Partie - Clothe - ---------- #}
        <article class="col-12 col-md-6 col-lg-4 clothe px-3 m-0">
            <div class="row justify-content-center py-4">
                <p id="message" class="m-0 py-2 px-3">Message sur le temps</p>
            </div>
            <div class="row animeRow">
                <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                    <button class="sexButton my-3 d-flex justify-content-center" id="femaleButton"><img src="Assets/img/icons/icon-female.svg"
                            alt=""></button>
                    <button class="sexButton my-3 d-flex justify-content-center" id="maleButton"><img src="Assets/img/icons/icon-male.svg"
                            alt=""></button>
                </div>
                {# Avatar #}
                <div class="col-8 d-flex justify-content-center align-items-center">
                    <img id="avatar_m1" class="img-fluid img-avatar invisible" src="Assets/img/avatar/male-s1.svg" alt="avatar image">
                    <img id="avatar_m2" class="img-fluid img-avatar invisible" src="Assets/img/avatar/male-s2.svg" alt="avatar image">
                    <img id="avatar_m3" class="img-fluid img-avatar invisible" src="Assets/img/avatar/male-s3.svg" alt="avatar image">
                    <img id="avatar_m4" class="img-fluid img-avatar invisible" src="Assets/img/avatar/male-s4.svg" alt="avatar image">
                    <img id="avatar_f1" class="img-fluid img-avatar invisible" src="Assets/img/avatar/female-s1.svg"
                        alt="avatar image">
                    <img id="avatar_f2" class="img-fluid img-avatar invisible" src="Assets/img/avatar/female-s2.svg"
                        alt="avatar image">
                    <img id="avatar_f3" class="img-fluid img-avatar invisible" src="Assets/img/avatar/female-s3.svg"
                        alt="avatar image">
                    <img id="avatar_f4" class="img-fluid img-avatar invisible" src="Assets/img/avatar/female-s4.svg"
                        alt="avatar image">

                    <img id="clothes" class="img-fluid invisible img-clothes" src="Assets/img/clothes/m_set1.svg" alt="avatar clothes male">
                    <img id="clothes" class="img-fluid invisible img-clothes" src="Assets/img/clothes/m_set2.svg" alt="avatar clothes male">
                    <img id="clothes" class="img-fluid invisible img-clothes" src="Assets/img/clothes/m_set3.svg" alt="avatar clothes male">
                    <img id="clothes" class="img-fluid invisible img-clothes" src="Assets/img/clothes/m_set4.svg" alt="avatar clothes male">

                    <img id="clothes" class="img-fluid invisible img-clothes" src="Assets/img/clothes/f_set1.svg" alt="avatar clothes female">
                    <img id="clothes" class="img-fluid invisible img-clothes" src="Assets/img/clothes/f_set2.svg" alt="avatar clothes female">
                    <img id="clothes" class="img-fluid invisible img-clothes" src="Assets/img/clothes/f_set3.svg" alt="avatar clothes female">
                    <img id="clothes" class="img-fluid invisible img-clothes" src="Assets/img/clothes/f_set4.svg" alt="avatar clothes female">
                </div>
                {# Vetements #}
                <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                    <button class="my-2 skinButton" id="skin1"></button>
                    <button class="my-2 skinButton" id="skin2"></button>
                    <button class="my-2 skinButton" id="skin3"></button>
                    <button class="my-2 skinButton" id="skin4"></button>
                </div>
            </div>
        </article>
        {# Partie - Summary - ------------ #}
        <article class="summary col-12 col-md-6 col-lg-4 px-3 m-0 d-flex flex-column justify-content-around">
            <div class="row py-0 d-flex justify-content-center align-items-center">
                <div id="weatherIcon" class="col-12 d-flex img-fluid justify-content-center">
                    <img id="weather-img" src="Assets/img/weather-icons/weather-clouds.png" alt="icone du temps">
                </div>
            </div>
            <div class="row pb-3 d-flex justify-content-center align-items-center">
                <div class="col-6">
                    <div id="tempCard" class="py-2 py-lg-3 d-flex flex-column justify-content-center align-items-center">
                        <h3 class="m-0 pb-2 pb-lg-3">Température</h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <img id="thermoIcon" src="Assets/img/icons/thermometer.svg" alt="icone de thermomètre">
                            <p id="tempData" class="m-0 px-3 pl-lg-4 ">5°C</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="rainCard" class="py-2 py-lg-3 d-flex flex-column justify-content-center align-items-center">
                        <h3 class="m-0 pb-2 pb-lg-3">Chance de pluie</h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <p id="tempRain" class="m-0 px-3 pr-lg-4">10%</p>
                            <img id="rainIcon" src="Assets/img/icons/raindrop.svg" alt="icone de thermomètre">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-12 vh-30 d-flex justify-content-center">
                    <canvas class="summaryChart" id="summaryChart"></canvas>
                </div>
            </div>
        </article>
        {# Partie - Details - --------- #}
        <article class="details col-12 col-lg-4 m-0 px-3 pt-1 pt-lg-2 d-flex flex-column justify-content-around">

            <div class="row p-1 p-lg-2 px-lg-3 h-100">
                <div class="carte d-flex justify-content-centeralign-items-center">
                    <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center">
                        <img class="icon" src="Assets/img/icons/sunrise.svg" alt="sunrise">
                        <p class="m-0 mt-2 mt-lg-3 px-2 data">07:12</p>
                    </div>
                    <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center">
                        <img class="icon" src="Assets/img/icons/sunset.svg" alt="sunset">
                        <p class="m-0 mt-2 mt-lg-3 px-2 data">17:32</p>
                    </div>
                    <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center">
                        <img class="icon" src="Assets/img/icons/moon.svg" alt="surise">
                        <p class="m-0 mt-2 mt-lg-3 px-2 data text-center">Croissant</p>
                    </div>
                </div>
            </div>

            <div class="row p-1 p-lg-2 px-lg-3 h-100">
                <div class="carte d-flex justify-content-center align-items-center">
                    <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center">
                        Pression:
                        <br><span class="data px-2 mt-2 mt-lg-3">1083 hPa</span>
                    </div>
                    <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center">
                        Vent:
                        <br><span class="data px-2 mt-2 mt-lg-3">10 km/h</span>
                    </div>
                    <div id="div-compass" class="col-4 d-flex justify-content-center align-items-center">
                        <img id="compass" src="Assets/img/icons/compass.svg" alt="Compass">
                        <img id="bgCompass" src="Assets/img/icons/bgCompass.svg" alt="Bg Compass">
                    </div>
                </div>
            </div>

            <div class="row p-1 p-lg-2 px-lg-3 h-100">
                <div class="carte d-flex justify-content-center align-items-center">
                    <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center">
                        Humidité:
                        <br><span class="data px-2 mt-2 mt-lg-3">63 %</span>
                    </div>
                    <div class="col-4  text-center d-flex flex-column justify-content-center align-items-center">
                        Précip:
                        <br><span class="data px-2 mt-2 mt-lg-3">20 %</span>
                    </div>
                    <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center">
                        Temp:
                        <br><span class="data px-2 mt-2 mt-lg-3">7° C</span>
                    </div>
                </div>
            </div>

            <div class="row p-1 p-lg-2 px-lg-3 h-100">
                <div class="carte d-flex justify-content-center align-items-center">
                    <div class="col-6 text-center d-flex flex-column justify-content-center align-items-center">
                            indice UV:
                            <br><span class="data px-2 mt-2 mt-lg-3">1</span>
                    </div>
                    <div class="col-6 text-center d-flex flex-column justify-content-center align-items-center">
                        Visibilité:
                            <br><span class="data px-2 mt-2 mt-lg-3">16 km</span>
                    </div>
                </div>
            </div>
        </article>
        {# Partie hour select #}
        <article class="hour-select fixed-bottom m-0 px-3 pt-2">
            <div class="row">
                <div class="col-12 d-flex justify-content-center text-center">
                    <h2 class="px-2" id="weather-heure">12:00</h2>
                </div>
            </div>
            <div class="row m-0 p-0 px-lg-5">
               <div class="m-0 px-lg-5 w-100 d-flex justify-content-between">
                    <p class="m-0">00:00</p>
                    <p class="m-0">06:00</p>
                    <p class="m-0">12:00</p>
                    <p class="m-0">18:00</p>
                    <p class="m-0">24:00</p>
               </div>
            </div>
            <div class="row">
                <div class="col-12 p-0 px-3 px-lg-5">
                    <form>
                        <div class="form-group m-0 pb-3 px-lg-5">
                            <input type="range" class="form-control-range" id="setTime" value="12" min="0" max="23"
                                step="1">
                        </div>
                    </form>
                </div>
        </article>
</section>
</div>

</div>
{% endblock %}